[Unit]
Description=SentinelNexus Cerebro Agent (Watchdog)
After=network.target

[Service]
# User running the application (Change 'ubuntu' if needed)
User=root
WorkingDirectory=/home/django_user/apps/sentinel_nexus
ExecStart=/home/django_user/apps/sentinel_env/bin/python run_cerebro_agent.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
